# Average Funding (Without Replacement)
    Download the file startup_funding
    Problem Statement :
    We want to find out the average amount of funding given to startups which are in either Bangalore or in New Delhi.
    For this - rather than considering all the startups, take a sample of size 50 (without replacement). Then find the average amount of funding from this sample and calculate the Sampling Error.
    Sampling Error = Average(Population) - Average(Sample)
    Note:
    Take city name "Delhi" as "New Delhi".
    Check the case-sensitiveness of cities also. That means - at some place, instead of "Bangalore", "bangalore" is given. Take city name as "Bangalore"
    Output :
     Print Sampling Error

In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('startup_funding.csv')
df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [30]:
df.dropna(subset=['AmountInUSD','CityLocation'],inplace=True)

In [31]:
df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
5,5,01/07/2017,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,"1,000,000",NaN
6,6,03/07/2017,Ecolibriumenergy,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,"2,600,000",NaN

In [32]:
df['CityLocation'].unique()

array(['Bangalore', 'Mumbai', 'Hyderabad', 'Ahmedabad', 'Gurgaon',
       'Noida', 'Pune', 'New Delhi', 'Chennai', 'Kolkata', 'Jaipur',
       'Missourie', 'Panaji', 'Gwalior', 'Indore', 'Singapore', 'Goa',
       'Vadodara', 'Bangalore/ Bangkok', 'Kerala', 'Chandigarh',
       'Coimbatore', 'Lucknow', 'Delhi', 'Trivandrum', 'SFO / Bangalore',
       'Pune/Seattle', 'Pune / Dubai', 'Bangalore / SFO', 'Varanasi',
       'Bhopal', 'New Delhi / US', 'Mumbai / UK', 'Kanpur', 'Jodhpur',
       'Hyderabad/USA', 'Boston', 'Bangalore / Palo Alto', 'Mumbai / NY',
       'USA/India', 'Noida / Singapore', 'Belgaum', 'Pune / US',
       'Bangalore / San Mateo', 'New York/ India', 'US/India',
       'Gurgaon / SFO', 'Bangalore / USA', 'Mumbai / Global',
       'India / US', 'Dallas / Hyderabad', 'Udupi'], dtype=object)

In [38]:
df = df[df['CityLocation'].str.contains('Bangalore|New Delhi',case=False)]

In [41]:
df['CityLocation'].unique()

array(['Bangalore', 'New Delhi', 'Bangalore/ Bangkok', 'SFO / Bangalore',
       'Bangalore / SFO', 'New Delhi / US', 'Bangalore / Palo Alto',
       'Bangalore / San Mateo', 'Bangalore / USA'], dtype=object)

In [45]:
df['AmountInUSD'] = df['AmountInUSD'].str.replace(',','').astype(int)

In [46]:
Population = df['AmountInUSD']

In [47]:
PopulationAvg = Population.mean()
PopulationAvg

17931294.43062201

In [62]:
Sample = Population.sample(50,random_state=1,replace=False)

In [63]:
SampleAvg = Sample.mean()
SampleAvg

5604320.0

In [64]:
sampling_error = PopulationAvg - SampleAvg
sampling_error

12326974.430622011

# Stratified Sampling
    Download the file startup_funding
    Problem Statement :
    We want to find out the maximum amount of funding given to any startup in following regions -
    Bangalore 
    NCR (which includes New Delhi, Gurgaon and Noida)
    Mumbai 
    Pune 
    Hydreabad 
    So create your population data first by extracting those startups which are in given cities.
    Then rather than using SRS for extracting sample, create 5 different stratas based on 5 regions and then apply stratified sampling on these 5 stratas to extract a sample of size 100 startups (taking 20 values from each strata)
    Find and print Sampling error.
    Note:
    Take city name "Delhi" as "New Delhi".
    Check the case-sensitiveness of cities also. That means - at some place, instead of "Bangalore", "bangalore" is given. Take city name as "Bangalore"

In [65]:
df = pd.read_csv('startup_funding.csv')
df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [66]:
df.dropna(subset=['AmountInUSD','CityLocation'],inplace=True)

In [67]:
df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
5,5,01/07/2017,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,"1,000,000",NaN
6,6,03/07/2017,Ecolibriumenergy,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,"2,600,000",NaN

In [73]:
def split(cl):
    return cl.split('/')[0].strip()

In [78]:
df['CityLocation'] = df['CityLocation'].apply(split)
df = df[df['CityLocation'].str.contains('Bangalore|New Delhi|Gurgaon|Pune|Mumbai|Hydreabad|Noida',case=False)]

In [85]:
df['AmountInUSD'] = df['AmountInUSD'].str.replace(',','').astype(int)

In [86]:
group = df.groupby(by='CityLocation')['AmountInUSD']

In [87]:
Population_of_each_group={}
for i,j in group:
    Population_of_each_group[i]=j.max()

In [88]:
Population_of_each_group

{'Bangalore': 1400000000,
 'Gurgaon': 250000000,
 'Mumbai': 150000000,
 'New Delhi': 680000000,
 'Noida': 40000000,
 'Pune': 56000000}

In [89]:
sample_of_each_group={}
for i,j in group:
    sample_of_each_group[i]=j.sample(20,random_state=1).max()

In [90]:
sample_of_each_group

{'Bangalore': 700000000,
 'Gurgaon': 60000000,
 'Mumbai': 150000000,
 'New Delhi': 200000000,
 'Noida': 15000000,
 'Pune': 35000000}

In [92]:
sampling_error = {}
for i,j in Population_of_each_group.items():
    sampling_error[i] = j  - sample_of_each_group[i]

In [93]:
sampling_error

{'Bangalore': 700000000,
 'Gurgaon': 190000000,
 'Mumbai': 0,
 'New Delhi': 480000000,
 'Noida': 25000000,
 'Pune': 21000000}

In [94]:
(54/360)*20

3.0

In [95]:
l = [1, 2, 10, 6, 4, 4, 6, 3, 1, 41, 2, 10, 6, 4, 4, 6, 3, 1, 4]

In [96]:
l.sort()

In [101]:
import numpy as np

In [103]:
n = np.array(l)

In [100]:
l

[1, 1, 1, 2, 2, 3, 3, 4, 4, 4, 4, 4, 6, 6, 6, 6, 10, 10, 41]

In [104]:
l = [90, 95, 95, 94, 90, 85, 84, 83, 85, 81, 92, 93, 82, 78, 79, 81, 80, 82, 85, 76]

In [105]:
for i in l :
    print(l.count(i),i)

2 90
2 95
2 95
1 94
2 90
3 85
1 84
1 83
3 85
2 81
1 92
1 93
2 82
1 78
1 79
2 81
1 80
2 82
3 85
1 76

In [106]:
g = {4,9,8,2,16,4,4,8,9,6}

In [107]:
l = [96, 100, 106, 114]

In [110]:
sum(l)/4

104.0

In [112]:
(100+106)/2

103.0

In [1]:
l = [1.52, 5.36, 6.79, 5.21, 0.28, 6.36, 8.47, 5.52, 6.26, 5.97]

In [2]:
l.sort()

In [3]:
l

[0.28, 1.52, 5.21, 5.36, 5.52, 5.97, 6.26, 6.36, 6.79, 8.47]

In [4]:
l = [70, 75, 80, 100]

In [5]:
sum(l)/4

81.25